@font-face {
  font-family: 'Calibri';
  src: url(fonts/Calibri.ttf);
}
@font-face {
  font-family: 'Caviar Dreams';
  src: url(fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: 'Geometos Rounded';
  src: url(fonts/GeometosRounded.ttf);
}
@font-face {
  font-family: 'Keep Calm';
  src: url(fonts/KeepCalm-Medium.ttf);
}
.icone-session {
  border-radius: 50%;
  -webkit-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 200px) {
  .icone-session {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  .icone-session {
    width: 65%;
    margin: 63px 0 0 15%;
  }
}
@media only screen and (min-width: 200px) {
  .aside-lateral {
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  .aside-lateral {
    width: 30%;
    display: inline-block;
  }
}
@media only screen and (min-width: 200px) {
  .article-central {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) {
  .article-central {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-bottom: 90px;
  }
}
.hover {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: transparent;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #87226B;
}
.bx-pager.bx-default-pager a.active {
  background-color: #232121;
}
.bx-controls-auto,
.bx-controls-direction {
  display: none;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: center;
  width: 100%;
}
section#destaque {
  width: 100%;
  background-repeat: no-repeat;
}
section#destaque img#logo {
  height: auto;
  position: absolute;
}
@media only screen and (min-width: 200px) {
  section#destaque {
    background-image: url("../images/grafismo-sup-celular.svg");
    background-position: left top;
    background-size: 100%;
    height: 100%;
  }
  section#destaque img#logo {
    width: 50%;
    left: 25%;
    top: 30%;
  }
}
@media only screen and (min-width: 550px) {
  section#destaque {
    height: 80%;
  }
  section#destaque img#logo {
    width: 40%;
    left: 30%;
    top: 15%;
  }
}
@media only screen and (min-width: 800px) {
  section#destaque {
    background-image: url("../images/grafismo-sup-pc.svg");
    background-position: right top;
    height: 100%;
  }
  section#destaque img#logo {
    width: 30%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 20%;
  }
}
@media only screen and (min-width: 1680px) {
  section#destaque img#logo {
    width: 25%;
  }
}
header {
  background-color: #5CC1A4;
  width: 100%;
}
header nav:first-child ul {
  width: 100%;
  text-align: center;
}
header nav:first-child ul li {
  display: inline-block;
  margin-top: 15px;
  padding: 0 20px;
  border-right: solid 1px #263F37;
}
header nav:first-child ul li:last-child {
  border-right: none;
}
header nav:first-child ul li a {
  color: #263F37;
  font-family: "Caviar Dreams", sans-serif;
  display: block;
  font-weight: bold;
}
header nav:last-child ul.bxslider li {
  font-family: "Geometos Rounded", sans-serif;
  text-align: center;
  color: #232121;
}
@media only screen and (min-width: 200px) {
  header {
    margin-top: 0;
    height: 280px;
  }
  header nav:first-child {
    display: none;
  }
  header nav:last-child {
    margin-top: 0;
  }
  header nav:last-child ul.bxslider li {
    padding-top: 95px;
    font-size: 1.5em;
  }
  header nav:last-child .bx-pager {
    bottom: 0px;
  }
}
@media only screen and (min-width: 550px) {
  header nav:last-child ul.bxslider li {
    font-size: 2em;
  }
  header nav:last-child .bx-pager {
    bottom: 10px;
  }
}
@media only screen and (min-width: 800px) {
  header {
    margin-top: -48px;
    height: 400px;
  }
  header nav:first-child {
    display: block;
  }
  header nav:last-child {
    margin-top: 115px;
  }
  header nav:last-child ul.bxslider li {
    font-size: 3.5em;
    padding-top: 0;
  }
  header nav:last-child .bx-pager {
    bottom: 50px;
  }
}
section#quem-somos {
  height: auto;
  background-color: #87226B;
}
@media only screen and (min-width: 200px) {
  section#quem-somos aside {
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos aside {
    width: 30%;
    display: inline-block;
  }
}
section#quem-somos aside img:first-child {
  border-radius: 50%;
  -webkit-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  position: static;
}
@media only screen and (min-width: 200px) {
  section#quem-somos aside img:first-child {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos aside img:first-child {
    width: 65%;
    margin: 63px 0 0 15%;
  }
}
section#quem-somos aside img#arrow-bottom {
  width: 12px;
  height: auto;
  display: block;
  margin-left: 46.6%;
  margin-top: -3px;
  margin-bottom: 50px;
}
section#quem-somos aside h1 {
  color: #232121;
  font-family: "Keep Calm", sans-serif;
  padding: 0 0 0 80px;
  letter-spacing: 3px;
  line-height: 54px;
}
@media only screen and (min-width: 200px) {
  section#quem-somos article {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos article {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-bottom: 90px;
  }
}
section#quem-somos article h2 {
  color: #5CC1A4;
  font-family: "Keep Calm", sans-serif;
}
@media only screen and (min-width: 200px) {
  section#quem-somos article h2 {
    font-size: 2em;
    margin: 0 auto;
    width: 93%;
    padding-top: 35px;
  }
}
@media only screen and (min-width: 550px) {
  section#quem-somos article h2 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos article h2 {
    font-size: 3em;
    margin: 0;
    margin-top: 60px;
  }
}
section#quem-somos article h3 {
  color: #5CC1A4;
  font-family: "Keep Calm", sans-serif;
  margin-top: 20px;
}
@media only screen and (min-width: 200px) {
  section#quem-somos article h3 {
    font-size: 1.3em;
    margin: 0 auto;
    width: 93%;
  }
}
@media only screen and (min-width: 550px) {
  section#quem-somos article h3 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos article h3 {
    font-size: 1.9em;
    margin: 0;
  }
}
section#quem-somos article ul.ul-tres-pontos li {
  display: inline-block;
  background-color: #232121;
  border-radius: 50%;
  margin-top: 10px;
}
@media only screen and (min-width: 200px) {
  section#quem-somos article ul.ul-tres-pontos li {
    width: 11px;
    height: 11px;
    margin-left: 3.5%;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos article ul.ul-tres-pontos li {
    width: 15px;
    height: 15px;
    margin-left: 0;
  }
}
section#quem-somos article p {
  color: #D7E2DE;
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
  text-align: justify;
  line-height: 29px;
  width: 93%;
}
@media only screen and (min-width: 200px) {
  section#quem-somos article p {
    font-size: 1em;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 550px) {
  section#quem-somos article p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 800px) {
  section#quem-somos article p {
    font-size: 1.3em;
    margin: 0;
  }
}
@media only screen and (min-width: 200px) {
  section#quem-somos aside img#arrow-bottom {
    display: none;
  }
  section#quem-somos aside h1 {
    display: none;
  }
  section#quem-somos article p {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  section#quem-somos aside img:first-child {
    margin-top: -100px;
  }
  section#quem-somos aside img#arrow-bottom {
    display: block;
  }
  section#quem-somos aside h1 {
    display: block;
    font-size: 1.9em;
  }
  section#quem-somos article p {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  section#quem-somos aside img:first-child {
    margin-top: -125px;
  }
  section#quem-somos aside h1 {
    display: block;
    font-size: 2.5em;
  }
  section#quem-somos article p {
    margin-top: 160px;
  }
}
section#nossos-servicos {
  height: auto;
  background-color: #232121;
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos aside {
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos aside {
    width: 30%;
    display: inline-block;
  }
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos article {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos article {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-bottom: 90px;
  }
}
section#nossos-servicos article h2 {
  color: #5CC1A4;
  font-family: "Keep Calm", sans-serif;
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos article h2 {
    font-size: 2em;
    margin: 0 auto;
    width: 93%;
    padding-top: 35px;
  }
}
@media only screen and (min-width: 550px) {
  section#nossos-servicos article h2 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos article h2 {
    font-size: 3em;
    margin: 0;
    margin-top: 60px;
  }
}
section#nossos-servicos article h3 {
  color: #87226B;
  font-family: "Keep Calm", sans-serif;
  margin-top: 20px;
  margin-top: 60px;
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos article h3 {
    font-size: 1.3em;
    margin: 0 auto;
    width: 93%;
  }
}
@media only screen and (min-width: 550px) {
  section#nossos-servicos article h3 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos article h3 {
    font-size: 1.9em;
    margin: 0;
  }
}
section#nossos-servicos article h3 img {
  width: 23%;
  height: auto;
  position: absolute;
  left: 0;
  margin-top: 10px;
}
section#nossos-servicos article p {
  color: #D7E2DE;
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
  text-align: justify;
  line-height: 29px;
  width: 93%;
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos article p {
    font-size: 1em;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 550px) {
  section#nossos-servicos article p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos article p {
    font-size: 1.3em;
    margin: 0;
  }
}
section#nossos-servicos article ul.ul-tres-pontos {
  margin-top: 0;
}
section#nossos-servicos article ul.ul-tres-pontos li {
  display: inline-block;
  background-color: #B8C1BE;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos article ul.ul-tres-pontos li {
    width: 11px;
    height: 11px;
    margin-left: 3.5%;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos article ul.ul-tres-pontos li {
    width: 15px;
    height: 15px;
    margin-left: 0;
  }
}
section#nossos-servicos article ul {
  list-style: disc;
  list-style-position: inside;
  margin-top: 30px;
}
section#nossos-servicos article ul li {
  color: #D7E2DE;
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
  text-align: justify;
  line-height: 29px;
  width: 93%;
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos article ul li {
    font-size: 1em;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 550px) {
  section#nossos-servicos article ul li {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos article ul li {
    font-size: 1.3em;
    margin: 0;
  }
}
@media only screen and (min-width: 200px) {
  section#nossos-servicos aside {
    display: none;
  }
  section#nossos-servicos article h2,
  section#nossos-servicos article h3 {
    text-align: center;
    width: 100%;
  }
  section#nossos-servicos article h3 {
    margin-top: 150px;
  }
  section#nossos-servicos article h3 img {
    display: none;
  }
  section#nossos-servicos article p {
    margin: 0 auto;
    width: 93%;
  }
  section#nossos-servicos article p img {
    position: absolute;
    display: block;
    margin: 0 auto;
  }
  section#nossos-servicos article p img#suporte-tecnico {
    width: 30%;
    right: 35%;
    margin-top: -230px;
  }
  section#nossos-servicos article p img#timani-cloud {
    width: 30%;
    right: 35%;
    margin-top: -233px;
  }
  section#nossos-servicos article p img#erp-nuvem {
    width: 30%;
    right: 35%;
    margin-top: -463px;
  }
}
@media only screen and (min-width: 450px) {
  section#nossos-servicos article p img#suporte-tecnico {
    margin-top: -260px;
  }
  section#nossos-servicos article p img#timani-cloud {
    margin-top: -240px;
  }
  section#nossos-servicos article p img#erp-nuvem {
    margin-top: -420px;
  }
}
@media only screen and (min-width: 550px) {
  section#nossos-servicos article p img#suporte-tecnico {
    width: 25%;
    right: 37.5%;
    margin-top: -272px;
  }
  section#nossos-servicos article p img#timani-cloud {
    width: 23%;
    right: 38.5%;
    margin-top: -246px;
  }
  section#nossos-servicos article p img#erp-nuvem {
    width: 23%;
    right: 38.5%;
    margin-top: -420px;
  }
}
@media only screen and (min-width: 700px) {
  section#nossos-servicos article h3 {
    margin-top: 200px;
  }
  section#nossos-servicos article p img#suporte-tecnico {
    width: 20%;
    right: 40%;
    margin-top: -272px;
  }
}
@media only screen and (min-width: 800px) {
  section#nossos-servicos aside {
    display: inline-block;
  }
  section#nossos-servicos article h2,
  section#nossos-servicos article h3 {
    text-align: left;
  }
  section#nossos-servicos article h3 img {
    display: block;
  }
  section#nossos-servicos article h3 {
    margin-top: 60px;
  }
  section#nossos-servicos article p {
    color: #D7E2DE;
    font-family: "Calibri", sans-serif;
    font-weight: lighter;
    text-align: justify;
    line-height: 29px;
    width: 93%;
    width: 60%;
    margin: 0;
  }
  section#nossos-servicos article p img {
    height: auto;
    position: absolute;
  }
  section#nossos-servicos article p img#suporte-tecnico {
    width: 10%;
    right: 8.5%;
    margin-top: -100px;
  }
  section#nossos-servicos article p img#timani-cloud {
    width: 17%;
    right: 5%;
    margin-top: 20px;
  }
  section#nossos-servicos article p img#erp-nuvem {
    width: 17%;
    right: 5%;
    margin-top: -205px;
  }
}
@media only screen and (min-width: 800px) and only screen and (min-width: 200px) {
  section#nossos-servicos article p {
    font-size: 1em;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 800px) and only screen and (min-width: 550px) {
  section#nossos-servicos article p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 800px) and only screen and (min-width: 800px) {
  section#nossos-servicos article p {
    font-size: 1.3em;
    margin: 0;
  }
}
section#pequenas-empresas {
  height: auto;
  background-color: #5CC1A4;
}
@media only screen and (min-width: 200px) {
  section#pequenas-empresas aside {
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  section#pequenas-empresas aside {
    width: 30%;
    display: inline-block;
  }
}
section#pequenas-empresas aside img {
  border-radius: 50%;
  -webkit-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 200px) {
  section#pequenas-empresas aside img {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  section#pequenas-empresas aside img {
    width: 65%;
    margin: 63px 0 0 15%;
  }
}
@media only screen and (min-width: 200px) {
  section#pequenas-empresas article {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) {
  section#pequenas-empresas article {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-bottom: 90px;
  }
}
section#pequenas-empresas article h2 {
  color: #87226B;
  font-family: "Keep Calm", sans-serif;
}
@media only screen and (min-width: 200px) {
  section#pequenas-empresas article h2 {
    font-size: 2em;
    margin: 0 auto;
    width: 93%;
    padding-top: 35px;
  }
}
@media only screen and (min-width: 550px) {
  section#pequenas-empresas article h2 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 800px) {
  section#pequenas-empresas article h2 {
    font-size: 3em;
    margin: 0;
    margin-top: 60px;
  }
}
section#pequenas-empresas article ul.ul-tres-pontos li {
  display: inline-block;
  background-color: #232121;
  border-radius: 50%;
  margin-top: 10px;
}
@media only screen and (min-width: 200px) {
  section#pequenas-empresas article ul.ul-tres-pontos li {
    width: 11px;
    height: 11px;
    margin-left: 3.5%;
  }
}
@media only screen and (min-width: 800px) {
  section#pequenas-empresas article ul.ul-tres-pontos li {
    width: 15px;
    height: 15px;
    margin-left: 0;
  }
}
section#pequenas-empresas article p {
  color: #232121;
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
  text-align: justify;
  line-height: 29px;
  width: 93%;
  margin-top: 105px;
}
@media only screen and (min-width: 200px) {
  section#pequenas-empresas article p {
    font-size: 1em;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 550px) {
  section#pequenas-empresas article p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 800px) {
  section#pequenas-empresas article p {
    font-size: 1.3em;
    margin: 0;
  }
}
section#contato {
  width: 100%;
  height: auto;
  background-image: url("../images/grafismo-inf-pc.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media only screen and (min-width: 200px) {
  section#contato aside {
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  section#contato aside {
    width: 30%;
    display: inline-block;
  }
}
section#contato aside img {
  border-radius: 50%;
  -webkit-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 200px) {
  section#contato aside img {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  section#contato aside img {
    width: 65%;
    margin: 63px 0 0 15%;
  }
}
@media only screen and (min-width: 200px) {
  section#contato article {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) {
  section#contato article {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-bottom: 90px;
  }
}
section#contato article h2 {
  color: #87226B;
  font-family: "Keep Calm", sans-serif;
}
@media only screen and (min-width: 200px) {
  section#contato article h2 {
    font-size: 2em;
    margin: 0 auto;
    width: 93%;
    padding-top: 35px;
  }
}
@media only screen and (min-width: 550px) {
  section#contato article h2 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 800px) {
  section#contato article h2 {
    font-size: 3em;
    margin: 0;
    margin-top: 60px;
  }
}
section#contato article h3 {
  color: #87226B;
  font-family: "Keep Calm", sans-serif;
  margin-top: 20px;
}
@media only screen and (min-width: 200px) {
  section#contato article h3 {
    font-size: 1.3em;
    margin: 0 auto;
    width: 93%;
  }
}
@media only screen and (min-width: 550px) {
  section#contato article h3 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 800px) {
  section#contato article h3 {
    font-size: 1.9em;
    margin: 0;
  }
}
section#contato article ul.ul-tres-pontos li {
  display: inline-block;
  background-color: #B8C1BE;
  border-radius: 50%;
  margin-top: 10px;
}
@media only screen and (min-width: 200px) {
  section#contato article ul.ul-tres-pontos li {
    width: 11px;
    height: 11px;
    margin-left: 3.5%;
  }
}
@media only screen and (min-width: 800px) {
  section#contato article ul.ul-tres-pontos li {
    width: 15px;
    height: 15px;
    margin-left: 0;
  }
}
section#contato article #form-contato {
  margin-top: 50px;
}
section#contato article #form-contato div {
  display: block;
  margin-top: 54px;
  width: 100%;
}
section#contato article #form-contato div#campo-inline input {
  float: none;
}
section#contato article #form-contato label {
  font-family: "Caviar Dreams", sans-serif;
  color: #232121;
}
section#contato article #form-contato span {
  color: #D81919;
}
section#contato article #form-contato input {
  float: right;
  border: none;
  border-bottom: solid 1px #232121;
  padding: 4px 15px 3px 10px;
  outline: none;
  background-color: transparent;
  color: #232121;
  font-family: "Caviar Dreams", sans-serif;
}
section#contato article #form-contato textarea {
  background-image: linear-gradient(white, white 30px, #232121 30px, #ccc 31px, white 31px);
  background-size: 100% 31px;
  background-color: transparent;
  border: none;
  line-height: 31px;
  padding: 4px 15px 3px 10px;
  color: #232121;
  font-family: "Caviar Dreams", sans-serif;
  height: 150px;
  resize: none;
}
section#contato article #form-contato textarea:focus {
  outline: none;
}
section#contato article #form-contato img {
  width: 2.3%;
  height: auto;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}
section#contato article #form-contato input[type="submit"] {
  background-color: #5CC1A4;
  border: none;
  color: #232121;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
@media only screen and (min-width: 200px) {
  section#contato article #form-contato {
    width: 98%;
  }
  section#contato article #form-contato label {
    font-size: 1em;
  }
  section#contato article #form-contato input {
    font-size: 0.9em;
  }
  section#contato article #form-contato #txt-nome {
    width: 70%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 53%;
  }
  section#contato article #form-contato #txt-telefone {
    width: 61%;
  }
  section#contato article #form-contato #txt-email {
    width: 69%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 65%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 50%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 69%;
  }
  section#contato article #form-contato #txt-uf {
    width: 81%;
  }
  section#contato article #form-contato #txt-email,
  section#contato article #form-contato #txt-uf {
    margin-top: 45px;
  }
  section#contato article #form-contato textarea {
    width: 85%;
    margin: 0 auto;
    display: block;
    font-size: 0.9em;
  }
  section#contato article #form-contato img {
    display: none;
  }
  section#contato article #form-contato input[type="submit"] {
    float: none;
    padding: 8px 40px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 368px) {
  section#contato article #form-contato #txt-telefone {
    width: 67%;
  }
  section#contato article #form-contato #txt-email {
    width: 74%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 73%;
  }
  section#contato article #form-contato #txt-uf {
    width: 83%;
  }
}
@media only screen and (min-width: 438px) {
  section#contato article #form-contato #txt-nome {
    width: 80%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 68%;
  }
  section#contato article #form-contato #txt-telefone {
    width: 73.5%;
  }
  section#contato article #form-contato #txt-email {
    width: 78.5%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 76%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 64%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 78%;
  }
  section#contato article #form-contato #txt-uf {
    width: 86%;
  }
  section#contato article #form-contato #txt-email,
  section#contato article #form-contato #txt-uf {
    margin-top: 45px;
  }
  section#contato article #form-contato textarea {
    width: 93%;
  }
}
@media only screen and (min-width: 550px) {
  section#contato article #form-contato #txt-nome {
    width: 84%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 74%;
  }
  section#contato article #form-contato #txt-telefone {
    width: 78.2%;
  }
  section#contato article #form-contato #txt-email {
    width: 83%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 80%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 71%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 82%;
  }
  section#contato article #form-contato #txt-uf {
    width: 89%;
  }
  section#contato article #form-contato textarea {
    width: 93%;
  }
}
@media only screen and (min-width: 639px) {
  section#contato article #form-contato #txt-telefone {
    width: 81.2%;
  }
  section#contato article #form-contato #txt-email {
    width: 85%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 85%;
  }
}
@media only screen and (min-width: 700px) {
  section#contato article #form-contato {
    width: 80%;
    margin: 0 auto;
  }
  section#contato article #form-contato #txt-telefone {
    width: 78%;
  }
  section#contato article #form-contato #txt-email {
    width: 83%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 83%;
  }
}
@media only screen and (min-width: 800px) {
  section#contato article #form-contato {
    width: 100%;
  }
}
@media only screen and (min-width: 920px) {
  section#contato article #form-contato #txt-nome {
    width: 87%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 79%;
  }
  section#contato article #form-contato #txt-telefone {
    width: 82%;
  }
  section#contato article #form-contato #txt-email {
    width: 85%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 83%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 76%;
  }
  section#contato article #form-contato #txt-cidade {
    width: 85%;
  }
  section#contato article #form-contato #txt-uf {
    width: 90%;
  }
  section#contato article #form-contato textarea {
    width: 93%;
  }
}
@media only screen and (min-width: 1020px) {
  section#contato article #form-contato label {
    font-size: 1.5em;
  }
  section#contato article #form-contato input {
    font-size: 1.3em;
  }
  section#contato article #form-contato #txt-nome {
    width: 84%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 73%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 80%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 69%;
  }
  section#contato article #form-contato #txt-telefone,
  section#contato article #form-contato #txt-email {
    width: 30%;
  }
  section#contato article #form-contato #txt-cidade,
  section#contato article #form-contato #txt-uf {
    width: 35.5%;
  }
  section#contato article #form-contato textarea {
    width: 97%;
    font-size: 1.3em;
  }
  section#contato article #form-contato #txt-email,
  section#contato article #form-contato #txt-uf {
    margin-top: 0;
  }
  section#contato article #form-contato img {
    display: block;
  }
  section#contato article #form-contato input[type="submit"] {
    float: right;
    padding: 8px 25px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1260px) {
  section#contato article #form-contato #txt-nome {
    width: 87%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 78%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 83%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 75%;
  }
  section#contato article #form-contato #txt-telefone,
  section#contato article #form-contato #txt-email {
    width: 34%;
  }
  section#contato article #form-contato #txt-cidade,
  section#contato article #form-contato #txt-uf {
    width: 38.5%;
  }
}
@media only screen and (min-width: 1440px) {
  section#contato article #form-contato {
    width: 93%;
  }
  section#contato article #form-contato label {
    font-size: 1.7em;
  }
  section#contato article #form-contato input {
    font-size: 1.4em;
  }
  section#contato article #form-contato #txt-nome {
    width: 85%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 75%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 81%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 71%;
  }
  section#contato article #form-contato #txt-telefone,
  section#contato article #form-contato #txt-email {
    width: 32.7%;
  }
  section#contato article #form-contato #txt-cidade,
  section#contato article #form-contato #txt-uf {
    width: 37.8%;
  }
  section#contato article #form-contato textarea {
    width: 99%;
    font-size: 1.4em;
  }
  section#contato article #form-contato input[type="submit"] {
    margin-right: -15px;
  }
}
@media only screen and (min-width: 1650px) {
  section#contato article #form-contato #txt-nome {
    width: 88%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 80%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 85%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 77%;
  }
  section#contato article #form-contato #txt-telefone,
  section#contato article #form-contato #txt-email {
    width: 35.5%;
  }
  section#contato article #form-contato #txt-cidade,
  section#contato article #form-contato #txt-uf {
    width: 39.7%;
  }
  section#contato article #form-contato img {
    width: 1.5%;
  }
}
@media only screen and (min-width: 1920px) {
  section#contato article #form-contato #txt-nome {
    width: 90%;
  }
  section#contato article #form-contato #txt-sobrenome {
    width: 83%;
  }
  section#contato article #form-contato #txt-empresa {
    width: 87%;
  }
  section#contato article #form-contato #txt-funcionarios {
    width: 80%;
  }
  section#contato article #form-contato #txt-telefone,
  section#contato article #form-contato #txt-email {
    width: 37.5%;
  }
  section#contato article #form-contato #txt-cidade,
  section#contato article #form-contato #txt-uf {
    width: 41.1%;
  }
}
footer {
  height: 200px;
  width: 100%;
  background-color: #232121;
}
#mensagem-email {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: none;
}
#mensagem-email div {
  top: 30%;
  width: 100%;
  position: fixed;
}
#mensagem-email div img {
  width: 70px;
  height: auto;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
#mensagem-email div p {
  font-family: "Calibri", sans-serif;
  font-size: 2.1em;
  color: #D7E2DE;
}
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
