@verde-padrao: #5CC1A4;
@verde-escuro: #263F37;
@roxo: #87226B;
@marrom: #232121;
@cinza-texto: #D7E2DE;
@cinza-escuro: #B8C1BE;
@vermelho: #D81919;

@calibri: "Calibri", sans-serif;
@caviar-dreams: "Caviar Dreams", sans-serif;
@geometos: "Geometos Rounded", sans-serif;
@keep-calm: "Keep Calm", sans-serif;

@font-face {
	font-family: 'Calibri';
	src: url(fonts/Calibri.ttf);
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url(fonts/CaviarDreams.ttf);
}
@font-face {
	font-family: 'Geometos Rounded';
	src: url(fonts/GeometosRounded.ttf);
}
@font-face {
	font-family: 'Keep Calm';
	src: url(fonts/KeepCalm-Medium.ttf);
}

.icone-session{
	border-radius: 50%;
	-webkit-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
	box-shadow: 8px 10px 19px -3px rgba(0, 0, 0, 0.7);
	
	@media only screen and (min-width: 200px) {
		width: 30%;
		margin: 0 auto;
		margin-top: 20px;
		display: block;
	}
	
	@media only screen and (min-width: 800px) {
		width: 65%;
		margin: 63px 0 0 15%;		
	}
}

.tres-pontos(@cor-bg){
	display: inline-block;
	background-color: @cor-bg;
	border-radius: 50%;
	margin-top: 10px;
	
	@media only screen and (min-width: 200px) {
		width: 11px;
		height: 11px;
		margin-left: 3.5%;
	}
	
	@media only screen and (min-width: 800px) {
		width: 15px;
		height: 15px;
		margin-left: 0;
	}
}

.titulo-sessao(@cor){
	color: @cor;
	font-family: @keep-calm;
	
	@media only screen and (min-width: 200px) {
		font-size: 2em;
		margin: 0 auto;
		width: 93%;
		padding-top: 35px;
	}
	
	@media only screen and (min-width: 550px) {
		font-size: 2.5em;
	}
	
	@media only screen and (min-width: 800px) {
		font-size: 3em;
		margin: 0;
		margin-top: 60px;
	}
}

.sub-titulo-sessao(@cor) {
	color: @cor;
	font-family: @keep-calm;
	margin-top: 20px;
	
	@media only screen and (min-width: 200px) {
		font-size: 1.3em;
		margin: 0 auto;
		width: 93%;
	}
	
	@media only screen and (min-width: 550px) {
		font-size: 1.6em;
	}
	
	@media only screen and (min-width: 800px) {
		font-size: 1.9em;
		margin: 0;
	}
}

.texto-padrao(@cor) {
	color: @cor;
	font-family: @calibri;
	font-weight: lighter;
    text-align: justify;
    line-height: 29px;
    width: 93%;
    
    @media only screen and (min-width: 200px) {
		font-size: 1em;
		margin: 0 auto;
	}
	
	@media only screen and (min-width: 550px) {
		font-size: 1.2em;
	}
	
	@media only screen and (min-width: 800px) {
		font-size: 1.3em;
		margin: 0;
	}
}

.aside-lateral {
	@media only screen and (min-width: 200px) {
		width: 100%;
		display: inline-block;
	}
	
	@media only screen and (min-width: 800px) {
		width: 30%;
		display: inline-block;
	}
}

.article-central {
	@media only screen and (min-width: 200px) {
		display: block;
		width: 100%;	
		padding-bottom: 50px;
	}
	
	@media only screen and (min-width: 800px) {
		display: inline-block;
		vertical-align: top;
		width: 69%;
		padding-bottom: 90px;	
	}
}

.hover{
	cursor: pointer;
}

html , body{
  	height: 100%;
}

*{
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0;
    background: transparent;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: @roxo;
}
.bx-pager.bx-default-pager a.active {
	background-color: @marrom;
}

.bx-controls-auto,
.bx-controls-direction {
	display: none;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center;
    width: 100%;
}

//Logo
section#destaque {
	width: 100%;
	background-repeat: no-repeat;
	
	img#logo{
		height: auto;
		position: absolute;
	}
	
	@media only screen and (min-width: 200px) {
		background-image: url("../images/grafismo-sup-celular.svg");
		background-position: left top;
		background-size: 100%;
		height: 100%;
		
		img#logo{
			width: 50%;
			left: 25%;
			top: 30%;
		}
	}
	
	@media only screen and (min-width: 550px) {
		height: 80%;
		
		img#logo{
			width: 40%;
			left: 30%;
			top: 15%;
		}
	}
	
	@media only screen and (min-width: 800px) {
		background-image: url("../images/grafismo-sup-pc.svg");
		background-position: right top;
		height: 100%;
		
		img#logo{
			width: 30%;
			height: auto;
			position: absolute;
			top: 35%;
			left: 20%;
		}
	}
	
	@media only screen and (min-width: 1680px) {
		img#logo{
			width: 25%;
		}
	}
}

//Menu e mantenha o foco em seu negocio
header {
	background-color: @verde-padrao;
	width: 100%;
	
	nav:first-child {
		ul{
			width: 100%;
			text-align: center;
			
			li {
				display: inline-block;
				margin-top: 15px;
				padding: 0 20px;
				border-right: solid 1px @verde-escuro;
				
				&:last-child {
					border-right: none;	
				}
				
				a{
					color: @verde-escuro;
					font-family: @caviar-dreams;
					display: block;
					font-weight: bold;
				}
			}
		}
	}
	
	nav:last-child {
		
		ul.bxslider li {
			font-family: @geometos;
			text-align: center;
			color: @marrom;
		}
	}
	
	@media only screen and (min-width: 200px) {
		margin-top: 0;
		height: 280px;
		
		nav:first-child {
			display: none;
		}
		
		nav:last-child {
			margin-top: 0;
			
			ul.bxslider li {
				padding-top: 95px;
				font-size: 1.5em;
			}
			.bx-pager {
				bottom: 0px;
			}
		}
	}
	
	@media only screen and (min-width: 550px) {
		nav:last-child {
			ul.bxslider li {
				font-size: 2em;			
			}
			
			.bx-pager {
				bottom: 10px;
			}
		}
	}
	
	@media only screen and (min-width: 800px) {
		margin-top: -48px;
		height: 400px;
		
		nav:first-child {
			display: block;
		}
		nav:last-child {
			margin-top: 115px;
			
			ul.bxslider li {
				font-size: 3.5em;
				padding-top: 0;
			}
			
			.bx-pager {
				bottom: 50px;
			}
		}
	}
}

//Quem somos
section#quem-somos {	
	height: auto;
	background-color: @roxo;
	
	aside {
		.aside-lateral;
		
		img:first-child {
			.icone-session;
			position: static;			
		}
		
		img#arrow-bottom {
			width: 12px;
			height: auto;
			display: block;
			margin-left: 46.6%;
			margin-top: -3px;
			margin-bottom: 50px;
		}
		
		h1 {
			color: @marrom;
			font-family: @keep-calm;
			padding: 0 0 0 80px;
			letter-spacing: 3px;
			line-height: 54px;
		}
	}
	
	article {
		.article-central;
		
		h2 {
			.titulo-sessao(@verde-padrao);
		}
		
		h3 {
			.sub-titulo-sessao(@verde-padrao);
		}
		
		ul.ul-tres-pontos li {
			.tres-pontos(@marrom);
		}
		p {
			.texto-padrao(@cinza-texto);
		}
	}
	
	@media only screen and (min-width: 200px) {
		aside {
			
			img#arrow-bottom {
				display: none;
			}
			h1 {
				display: none;
			}
		}
		article {
			h2 {
				
			}
			p {
				margin-top: 20px;
			}
		}
	}
	
	@media only screen and (min-width: 1024px) {
		aside {
			img:first-child {
				margin-top: -100px;
			}
			
			img#arrow-bottom {
				display: block;
			}
			h1 {
				display: block;
				font-size: 1.9em;
			}
		}
		
		article {
			p {
				margin-top: 50px;
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		aside {
			img:first-child {
				margin-top: -125px;
			}
			h1 {
				display: block;
				font-size: 2.5em;
			}
		}
		article {
			p {
				margin-top: 160px;
			}
		}
	}
}

//Serviços
section#nossos-servicos {
	height: auto;
	background-color: @marrom;
	
	aside {
		.aside-lateral;
	}
	article {
		.article-central;
		
		h2 {
			.titulo-sessao(@verde-padrao);
		}
		
		h3 {
			.sub-titulo-sessao(@roxo);
			margin-top: 60px;
			
			img {
				width: 23%;
				height: auto;
				position: absolute;
				left: 0;
				margin-top: 10px;
			}
		}
		p {
			.texto-padrao(@cinza-texto);
		}
		
		ul.ul-tres-pontos {
			margin-top: 0;
			
			li {
				.tres-pontos(@cinza-escuro);
				margin-bottom: 50px;
			}	
		}
		
		ul {
			list-style: disc;
			list-style-position: inside;
			margin-top: 30px;
			
			li {
				.texto-padrao(@cinza-texto);
			}
		}
	}
	
	@media only screen and (min-width: 200px) {
		aside {
			display: none;
		}
		article {
			h2, h3 {
				text-align: center;
				width: 100%;
			}
			h3 {
				margin-top: 150px;
				
				img {
					display: none;
				}
			}
			p {
				margin: 0 auto;
				width: 93%;
				
				img {
					position: absolute;
					display: block;
					margin: 0 auto;
				}
				img#suporte-tecnico {
					width: 30%;
					right: 35%;
					margin-top: -230px;
				}
				img#timani-cloud {
				    width: 30%;
				    right: 35%;
				    margin-top: -233px;
				}
				img#erp-nuvem {
				    width: 30%;
				    right: 35%;
				    margin-top: -463px;
				}
			}
		}
	}
	
	@media only screen and (min-width: 450px) {
		article {
			p {
				img#suporte-tecnico {
					margin-top: -260px;
				}
				img#timani-cloud {
				    margin-top: -240px;
				}
				img#erp-nuvem {
				    margin-top: -420px;
				}
			}
		}
	}
	
	@media only screen and (min-width: 550px) {
		article {
			p {
				img#suporte-tecnico {
					width: 25%;
    				right: 37.5%;
					margin-top: -272px;
				}
				img#timani-cloud {
					width: 23%;
					right: 38.5%;
				    margin-top: -246px;
				}
				img#erp-nuvem {
					width: 23%;
					right: 38.5%;
				    margin-top: -420px;
				}
			}
		}
	}
	
	@media only screen and (min-width: 700px) {
		article {
			h3 {
				margin-top: 200px;
			}
			p {
				img#suporte-tecnico {
					width: 20%;
    				right: 40%;
					margin-top: -272px;
				}
			}
		}
	}
	
	@media only screen and (min-width: 800px) {
		aside {
			display: inline-block;
		}
		article {
			h2, h3 {
				text-align: left;
			}
			h3 img {
				display: block;
			}
			h3 {
				margin-top: 60px;
			}
			p{
				.texto-padrao(@cinza-texto);
				width: 60%;
				margin: 0;
				
				img {
					height: auto;
					position: absolute;
				}
				
				img#suporte-tecnico {
					width: 10%;	
					right: 8.5%;
	    			margin-top: -100px;
				}
				img#timani-cloud {
				    width: 17%;
				    right: 5%;
				    margin-top: 20px;
				}
				img#erp-nuvem {
				    width: 17%;
				    right: 5%;
				    margin-top: -205px;
				}
			}
		}
	}
	
}


//Pequenas empresas
section#pequenas-empresas {	
	height: auto;
	background-color: @verde-padrao;
	
	aside {
		.aside-lateral;
		
		img {
			.icone-session;
		}
	}
	
	article {
		.article-central;
		
		h2 {
			.titulo-sessao(@roxo);
		}
		
		ul.ul-tres-pontos li {
			.tres-pontos(@marrom);
		}
		p {
			.texto-padrao(@marrom);
			margin-top: 105px;
		}
	}
}

//Contato
section#contato {
	width: 100%;
	height: auto;
	background-image: url("../images/grafismo-inf-pc.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	
	aside {
		.aside-lateral;
		
		img {
			.icone-session;
		}
	}
	
	article {
		.article-central;
		
		h2 {
			.titulo-sessao(@roxo);
		}
		
		h3 {
			.sub-titulo-sessao(@roxo);
		}
		
		ul.ul-tres-pontos li {
			.tres-pontos(@cinza-escuro);
		}
		
		#form-contato {
			margin-top: 50px;
			
			div {
				display: block;
				margin-top: 54px;
				width: 100%;
			}
			
			div#campo-inline {
				input {
					float: none;
				}
			}
			
			label {
				font-family: @caviar-dreams;
				color: @marrom;
			}
			
			span {
				color: @vermelho;
			}
			
			input {
				float: right;
				border: none;
				border-bottom: solid 1px @marrom;
				padding: 4px 15px 3px 10px;
				outline: none;
				background-color: transparent;
				color: @marrom;
				font-family: @caviar-dreams;
			}
			
			textarea {
//			    background-image: -webkit-linear-gradient(white, white 30px, @marrom 30px, #ccc 31px, white 31px);
//			    background-image: -moz-linear-gradient(white, white 30px, @marrom 30px, #ccc 31px, white 31px);
//			    background-image: -ms-linear-gradient(white, white 30px, @marrom 30px, #ccc 31px, white 31px);
//			    background-image: -o-linear-gradient(white, white 30px, @marrom 30px, #ccc 31px, white 31px);
			    background-image: linear-gradient(white, white 30px, @marrom 30px, #ccc 31px, white 31px);
			    background-size: 100% 31px;
			    background-color: transparent;
			    border: none;
			    line-height: 31px;
				padding: 4px 15px 3px 10px;
				color: @marrom;
				font-family: @caviar-dreams;
				height: 150px;
				resize: none;
			    
			    &:focus {
				    outline: none;
				}
			}
			img{
				width: 2.3%;
			    height: auto;
			    float: right;
			    margin-top: 8px;
			    margin-right: 10px;
			}
			input[type="submit"] {
				background-color: @verde-padrao;
				border: none;
				color: @marrom;
				border-radius: 8px;
				font-weight: bold;
				text-align: center;
				.hover;
			}
			
			@media only screen and (min-width: 200px) {
				width: 98%;
				
				label {
					font-size: 1em;
				}
				
				input {
					font-size: 0.9em;
				}
				#txt-nome {
					width: 70%;
				}
				#txt-sobrenome{
					width: 53%;
				}
				#txt-telefone{
					width: 61%;
				}
				#txt-email{
					width: 69%;
				}
				#txt-empresa{
					width: 65%;
				}
				#txt-funcionarios{
					width: 50%;
				}
				#txt-cidade{
					width: 69%;
				}
				#txt-uf {
					width: 81%;
				}
				#txt-email,
				#txt-uf {
					margin-top: 45px;
				}
				textarea {
					width: 85%;
					margin: 0 auto;
					display: block;
					font-size: 0.9em;
				}
				img{
					display:none;
				}
				input[type="submit"] {
					float: none;
					padding: 8px 40px;
					display: block;
					margin: 0 auto;
				}
			}
			
			@media only screen and (min-width: 368px) {
				#txt-telefone{
					width: 67%;
				}
				#txt-email{
					width: 74%;
				}
				#txt-cidade{
					width: 73%;
				}
				#txt-uf {
					width: 83%;
				}
			}
			
			@media only screen and (min-width: 438px) {
				#txt-nome {
					width: 80%;
				}
				#txt-sobrenome{
					width: 68%;
				}
				#txt-telefone{
					width: 73.5%;
				}
				#txt-email{
					width: 78.5%;
				}
				#txt-empresa{
					width: 76%;
				}
				#txt-funcionarios{
					width: 64%;
				}
				#txt-cidade{
					width: 78%;
				}
				#txt-uf {
					width: 86%;
				}
				#txt-email,
				#txt-uf {
					margin-top: 45px;
				}
				textarea {
					width: 93%;
				}
			}
			
			@media only screen and (min-width: 550px) {
				#txt-nome {
					width: 84%;
				}
				#txt-sobrenome{
					width: 74%;
				}
				#txt-telefone{
					width: 78.2%;
				}
				#txt-email{
					width: 83%;
				}
				#txt-empresa{
					width: 80%;
				}
				#txt-funcionarios{
					width: 71%;
				}
				#txt-cidade{
					width: 82%;
				}
				#txt-uf {
					width: 89%;
				}
				textarea {
					width: 93%;
				}
			}
			
			@media only screen and (min-width: 639px) {
				#txt-telefone{
					width: 81.2%;
				}
				#txt-email {
					width: 85%;
				}
				#txt-cidade{
					width: 85%;
				}
			}
			
			@media only screen and (min-width: 700px) {
				width: 80%;
				margin: 0 auto;
				
				#txt-telefone{
					width: 78%;
				}
				#txt-email {
					width: 83%;
				}
				#txt-cidade{
					width: 83%;
				}
			}
			
			@media only screen and (min-width: 800px) {
				width: 100%;
			}
			
			@media only screen and (min-width: 920px) {
				#txt-nome {
					width: 87%;
				}
				#txt-sobrenome{
					width: 79%;
				}
				#txt-telefone{
					width: 82%;
				}
				#txt-email{
					width: 85%;
				}
				#txt-empresa{
					width: 83%;
				}
				#txt-funcionarios{
					width: 76%;
				}
				#txt-cidade{
					width: 85%;
				}
				#txt-uf {
					width: 90%;
				}
				textarea {
					width: 93%;
				}
			}
			
			@media only screen and (min-width: 1020px) {
				label {
					font-size: 1.5em;
				}
				input {
					font-size: 1.3em;
				}
				#txt-nome {
					width: 84%;
				}
				#txt-sobrenome{
					width: 73%;
				}
				#txt-empresa{
					width: 80%;
				}
				#txt-funcionarios{
					width: 69%;
				}
				#txt-telefone,
				#txt-email{
					width: 30%;
				}
				#txt-cidade,
				#txt-uf{
					width: 35.5%;
				}
				textarea {
					width: 97%;
					font-size: 1.3em;
				}
				#txt-email,
				#txt-uf {
					margin-top: 0;
				}
				img {
					display: block;
				}
				input[type="submit"] {
					float: right;
					padding: 8px 25px;
					margin-right: 0;
				}
			}
			
			@media only screen and (min-width: 1260px) {
				#txt-nome {
					width: 87%;
				}
				#txt-sobrenome{
					width: 78%;
				}
				#txt-empresa{
					width: 83%;
				}
				#txt-funcionarios{
					width: 75%;
				}
				#txt-telefone,
				#txt-email{
					width: 34%;
				}
				#txt-cidade,
				#txt-uf{
					width: 38.5%;
				}
			}
			
			@media only screen and (min-width: 1440px) {
				width: 93%;
				
				label {
					font-size: 1.7em;
				}
				input {
					font-size: 1.4em;
				}
				#txt-nome {
					width: 85%;
				}
				#txt-sobrenome{
					width: 75%;
				}
				#txt-empresa{
					width: 81%;
				}
				#txt-funcionarios{
					width: 71%;
				}
				#txt-telefone,
				#txt-email{
					width: 32.7%;
				}
				#txt-cidade,
				#txt-uf{
					width: 37.8%;
				}
				textarea {
					width: 99%;
					font-size: 1.4em;
				}
				input[type="submit"] {
					margin-right: -15px;
				}
			}
			@media only screen and (min-width: 1650px) {
				#txt-nome {
					width: 88%;
				}
				#txt-sobrenome{
					width: 80%;
				}
				#txt-empresa{
					width: 85%;
				}
				#txt-funcionarios{
					width: 77%;
				}
				#txt-telefone,
				#txt-email{
					width: 35.5%;
				}
				#txt-cidade,
				#txt-uf{
					width: 39.7%;
				}
				img {
					width: 1.5%;
				}
			}
			@media only screen and (min-width: 1920px) {
				#txt-nome {
					width: 90%;
				}
				#txt-sobrenome{
					width: 83%;
				}
				#txt-empresa{
					width: 87%;
				}
				#txt-funcionarios{
					width: 80%;
				}
				#txt-telefone,
				#txt-email{
					width: 37.5%;
				}
				#txt-cidade,
				#txt-uf{
					width: 41.1%;
				}
				
			}
		}
	}
}

footer {
	height: 200px;
	width: 100%;
	background-color: @marrom;
}

#mensagem-email{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	display: none;
	
	div {
		top: 30%;
		width: 100%;
		position: fixed;
		
		img {
			width: 70px;
			height: auto;
			
			  -webkit-animation: rotating 2s linear infinite;
			  -moz-animation: rotating 2s linear infinite;
			  -ms-animation: rotating 2s linear infinite;
			  -o-animation: rotating 2s linear infinite;
			  animation: rotating 2s linear infinite;
		}		
		p {
			font-family: @calibri;	
			font-size: 2.1em;
			color: @cinza-texto;
		}
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}